html,body
{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

#packingUi {
    display:flex;
    flex-direction:column;
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#packingUiMainCont {
    flex-grow:1;
    position:relative;
    margin-left: 10px; 
    margin-right: 10px
}

#orderViewPanel {    
    display:flex;
    flex-direction:column;       
    position:absolute;
    height:100%;
}

#orderItemsContainer {
    flex-grow:1;
    overflow-y:auto;
}

.itemQty {
    
}

.highlightQuantity {
    color: red;
}


#orderOverviewPanel {
    font-size:1.3em;    
    border-bottom:1px solid #cccccc;
    padding-bottom:10px;
}

#orderOverviewPanel .faButton {
    margin-right:10px;
}

#orderOverviewPanel #lblOrderNumber {
    font-weight:600;    
    margin-left:10px;
}


#orderOverviewPanel #lblCustomer {
    margin-left:20px;
    color:#343434;
}

#orderOverviewPanel #lblPrice {
    margin-left:20px;
}

#orderNotesPanel {
    margin-top:0px;
}

.noteContainer {
    margin-top:16px;
}

.noteTitle {
    font-weight:bold;
    margin-bottom:2px;
}

.noteBody {
    font-size: 0.9em;
    opacity: 0.7;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.noteSectionExpander {
    opacity:0.5;
}

.orderDiscountsPanel {
    margin-top:16px; 
    display:flex;   
}

.discountTitle {
    font-weight:bold;
}

.discountText{    
    margin-left:4px;
}


#orderItemsContainer {
    border:1px solid #cccccc;
    border-radius:2px;
    margin-top:10px;
}

#orderViewPanel {
    width:100%;
}

.pckOrderItemContainer {
    margin-left:4px;
    margin-top:8px;
    font-size:1.2em;
}

.pckOrderItemContainer .itemQty {
    font-weight:bold;    
}

.pckOrderItemContainer .multiply {
    margin-right:5px; 
}

.kitGroupsList {
    margin-left:20px;
    margin-bottom:20px;
    border-left:1px solid #ddddee;
    border-bottom:1px solid #ddddee;
    border-bottom-left-radius: 15px;
    margin-right:14px;
    padding:10px;
    padding-bottom:4px;
    font-size:0.9em;
    text-align:left;
}

.kitGroupsList .selectionGroupName {
    color:#8888ff;
}

.hasSelectedItem .selectionGroupName:after {
    content:":";
    margin-right:4px;
}


.kitGroupContainer.needsSelection {
    margin-top:5px;
    margin-bottom:5px;
}

.kitItemSelectButton > .fas {
    display:none;    
}
.kitItemSelectButton:hover > .far {
    display:none;    
}
.kitItemSelectButton:hover > .fas {
    display:block;    
}

.kitItemSelectButton {
    padding-left:14px;
    padding-right:4px;
    display:none;
}

.kitGroupContainer {
    width:unset;    
}

.kitGroupContainer .kitItemContainer{
    margin-left:6px;
    display:inline-block;
    opacity:0.6;
    font-size:0.75em;    
    padding-right:3px;
}

.kitGroupContainer:hover .kitItemContainer {
    margin-top:4px;
    margin-left:0;   
    display:flex; 
    opacity:1;
    font-size:inherit;
}

.kitGroupContainer:hover .kitItemSelectButton {
    display:block;    
}

div.kitSelectedItemContainer > i.faButton {
    align-self:center;
    margin-left:4px;
    font-size:0.65em;
    display:none;
}

div.kitSelectedItemContainer:hover > i.faButton {
    display:inline-block;    
}

.highlightErrors .kitItemContainer * {
    font-size:2em;
    color:red;
    opacity:1;
}


.kitItemIndexMarker {    
    display:inline-block;
    background-color: #BEB7DF;        
    border-radius:15%;
    width:30px;
    text-align:center;
    color:#eeeeee;
    margin-left:-15px;
    margin-top:10px;
    font-weight:bold;
    font-size:80%;
}

#packingControlPanel{
    padding-top:10px;
    padding-bottom:20px;
}

#butMarkPacked {
    border:1px solid #afafaf;
    border-radius:3px;
    background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
    display:block;
    width:120px;
    text-align:center;
    padding-bottom:10px;
    font-weight:bold;
    color:#406040;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#butMarkPacked * {
    pointer-events: none;
}

#butMarkPacked:active {
    background-image: linear-gradient(to bottom, #f7f7f7, #e4e4e4);
}

#progressContainer {
    background-color:black;
    height:4px;
    width:90%;
    margin:5px;
    opacity:0.1;
    transition:opacity 1s;
}

#progressBar {
    height:100%;
    background-color:greenyellow;
    width:0%;    
}

#butMarkPacked:active #progressContainer {
    opacity:1;
}

#ordersList {
    border-top:1px solid #eeeeee;
    margin-top:10px;
    display:flex;
    font-size:0.9em;
    flex-wrap: wrap;
}

#orderTemplate {
    border:1px solid #eeeeff;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    margin:4px;
    padding:4px;
    padding-left:6px;
    padding-right:6px;
    cursor:pointer;
       
}

#orderTemplate:hover{
    background-color:#f0f0f0;
    transition: font-size 200ms, background-color 250ms;
    font-size:1.2em;

}

.previewOrderTitle {
    border-bottom: 1px solid #eeeeff;
    padding-bottom:2px;

}

.previewOrderItemsList {
    font-size:70%;
    overflow-x:hidden;
    white-space:nowrap; 
}



.batchItemTemplate {
    margin-left:15px;
    font-size:0.8em;   
    /*opacity:0.8; */
    color:#557055;
    border-bottom: 1px dotted #aaaaaa;
}

div:last-child.batchItemTemplate {
    border-bottom: none;
}

.batchAssignmentBatchNr {
    cursor:pointer;
}

.batchItemTemplate:hover {
    opacity:1;
}

.batchItemTemplate .fa-minus {
    display:none;
    margin-left:4px;
}

.batchItemTemplate:hover .fa-minus {
    display:block;
}

.batchAssignmentAmount {
    margin-right:3px;
    border-right: 1px dotted #aaaaaa;    
    padding-right:3px;
    font-weight:bold;    
}

.batchItemTemplate .fa-question-circle {
    color:red;        
    cursor:pointer;
}

.batchAssignmentUi {
    min-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlightErrors .batchItemTemplate .fa-question-circle {
    font-size:2em;
}

#rightItems {
    margin-left: auto;
}

#icoChecklistMode {
    cursor: pointer;
    color: red;
    opacity: 0.3;
}

#icoChecklistMode:hover {
    opacity: 1;
    color: black;
}

#icoChecklistMode.activated {
    opacity: 1;
    color: green;
}

.checklistModeCheckboxContainer > input {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

#lblSourceErp {
    opacity:0.4;
    margin-left:8px;
}

@keyframes internalNoteAlert {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.pulseAnimation {
    animation: internalNoteAlert 1s ease 0s 1 normal forwards;
}

.packingBatchPinnedMessageContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 8px;
    margin-left: 5px;
    background-color: #fff6e5;
    border-radius: 3px;
    color: #7a4a00;
    font-size: 13px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    /* Ikona */
    .packingBatchPinnedMessageContainer i {
        font-size: 12px;
        color: #f59e0b;
        flex-shrink: 0;
    }

/* Text */
.packingBatchPinnedMessageText {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}


#customerRelatedMessagePanel {
    margin: 12px 0 16px;
    padding: 14px 18px;
    position: relative;
    /* důležité, ale ne stres: jemná amber */
    background: #fff6e8;
    border: 1px solid #f3d3a6;
    border-left: 6px solid #e7a84e;
    border-radius: 6px;
    /* aby to vystoupilo nad okolní obsah */
    box-shadow: 0 2px 10px rgba(0,0,0,0.08), inset 0 0 0 1px rgba(255,255,255,0.6);
}

    /* jemný „pruh“ nahoře – přitáhne oko bez křiku */
    #customerRelatedMessagePanel::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 4px;
        background: linear-gradient(90deg, rgba(231,168,78,0.55), rgba(231,168,78,0.12));
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        pointer-events: none;
    }

#customerRelatedMessage {
    margin: 0;
    padding: 0;
    font-family: inherit;
    white-space: pre-wrap;
    line-height: 1.55;
    /* o fous větší a výraznější = čitelnější periferně */
    font-size: 15px;
    font-weight: 600;
    color: #2a2a2a;
}
