.autoEditPanel {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
}

    .autoEditPanel label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .autoEditPanel input[type="text"],
    .autoEditPanel select,
    .autoEditPanel textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        max-width: 100%;
    }

    .autoEditPanel .cols1,
    .autoEditPanel .cols2 {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
    }

        .autoEditPanel .cols2 .autoFormFieldContainer {
            flex: 1;
            min-width: calc(50% - 5px); /* Zmenšena mezera mezi sloupci */
        }

        .autoEditPanel .cols1 .autoFormFieldContainer {
            flex: 1;
            min-width: 100%; /* Pole na celou šířku */
        }

.autoFormFieldContainer {
    margin-bottom: 10px;
}

.autoEditPanel .batchesEditButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}


.fieldValidationError {
    font-size: 12px;
    color: #dc3545;
    margin-top: -10px;
}

/* Styling pro dropdown */
.autoEditPanel select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23666" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px;
}



.autoEditPanel textarea {
    resize: vertical;
    max-width: 100%; /* Zarovnání textarea */
    box-sizing: border-box; /* Zajistí, že padding je zahrnut do šířky */
    min-height: 50px;
}
