i.customerPropsIcon {
    display:none;
    font-size:70%;
    margin-left:3px;
}

img.customerPropsIcon {
    width:10px;
    height:10px;
    display:block;
}

#customerViewPanel {
    position: absolute;
    min-width: 200px;
    height: 200px;
    top: 300px;
    z-index: 9999;
    background-color: white;
    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

}