.warnLevelClass2 > div {
    background-color: #ffe0e0;
}

.warnLevelClass2:hover > div {
    background-color: #ffe0e0 !important;
}

.warnLevelClass1 > div {
    background-color: #fffbe6;
    ;
}

.warnLevelClass1:hover > div {
    background-color: #fffbe6 !important;
}

.matlvlInventoryTabHead {
    display: flex;
}

.matlvlInventoryTabHeadName {
    flex-grow: 1;
}

.matlvlInventoryTabHeadIcons {
    display: flex;
}

.matlvlInventoryTabHeadWarning {
    font-size: 0.7em;
    background-color: red;
    color: white;
    border-radius: 1000px;
    border: 2px solid #ddd;
    text-align: center;
    vertical-align: middle;
    height: 1.4em;
    width: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.matlvlInventoryTabHeadUnwatch {
    font-size: 0.7em;
}

.matlvlUnwatchedInventoryItem {
    background-color: #dde;
    margin-left: 15px;
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    opacity: 0.8;
}

.matlvlUnwatchedInventoryItem:hover {
    opacity: 1;
}

.matlvlUnwatchedInventoryItem > div {
    margin-left: 5px;
}


.matlvlThresholdCont {
    display: flex;
    width: 100%;
    min-width: 100px;
}

.matlvlThresholdView {
    flex-grow: 1;
}

.matlvlThresholdEditIcons {
    display: none;
}

.cell5:hover .matlvlThresholdEditIcons {
    display: flex;
}

.matlvlThresholdEditIcons > i {
    margin-right: 4px;
}

.matlvlSearchPanel {
    padding-top:15px;
    padding-bottom:10px;
}

.matlvlSearchPanel .fa-search {
    font-size:1.5em;
    opacity:0.7;
    margin-right:4px;
}

.supplierInfoPanel {
    font-size: 0.9em;
    margin-left: 40px;
}

.supplierInfoPanel > .supInf_phone {
    margin-left: 15px;
}

.matlevSupplierCell {
    cursor: pointer;
}

.matlevSupplierCell:hover {
    color: blue;
}

.matlvlFilterCleanCont > .faButton {
    align-self: flex-start;
    margin-left: 4px;
    opacity: .7;
    color: #555;
    font-size: 13px;
}

div.orderDtCell .orderDtButtons {
    display: none;
}

div.orderDtCell:hover .orderDtButtons {
    display: block;
}

.orderDtInputCont .fa-times {
    margin-left: 8px;
    opacity: 0.5;
}

div.orderDtView {
    margin-right:5px;
}

