#roleEditor {
    padding: 10px;
}

#roleEditor .urPnlTitle {
    font-weight: bold;
    margin-bottom: 15px;
}

.role-subtree
{
    margin-left: 15px;
}

.roleItemHead:hover .role-actions {
    opacity:1;
}

.roleTreeItemSelected {
    background-color: #00bfff !important;
}

.userRightDisabled {
    opacity: 0.6;
    pointer-events: none;
}

.roleTreeItemMyOwn {
    color:#00006f;

}

.urPanel {
    width: 40%;
    min-width: 300px;
    border-left: 1px solid #00bfff;
    padding-left: 10px;
    align-self: stretch;
    overflow-x: auto;
    padding-bottom: 100px;
}

.pnlUserRoles {
    border-left: none;
}


.roleItemHead {
    padding: 4px;
    padding-left: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.role-actions {
    margin-left: 10px;
    opacity:0;
}

.role-actions .faButton {
    margin-left: 8px;
}

.roleItemHead:hover {
    background-color: aqua;
}

