#impExpUi {
    padding-bottom: 30px;
    padding: 10px;
    font-size: 0.8em;
}

.ieModuleRow {
    margin-top: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #aaa;
}

.ieModuleTitle {
    font-weight: bold;
    font-size: 1.2em;
}

.ieActionsRow {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    padding: 4px;
    align-items: center;
}

    .ieActionsRow a {
        margin-right: 20px;
    }

    .ieActionsRow input {
        border: 1px solid #ccc;
    }

.ieModuleDescription {
    color: #555;
    margin-top: 2px;
}
