input:not([type]), input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
    height: 2.14285714em;
    line-height: 1.4285714285714;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    width: 100%;
    vertical-align: baseline;
    background-color: rgb(250, 255, 189) !important;
}

input[type="number"].hasUnit {
    margin-right:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-right:1px dotted #ccc;
    width: 170px;
}

input.unitInput {
  margin-left:0;
  border-left:none;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  max-width:80px;
}

button {
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-variant: normal;
    font-weight: normal;
    height: 2.14285714em;
    line-height: 1.42857143;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}

label {
    font-size: 1em;
    color: #444444;
    margin-left: 2px;
    font-weight: 200;
}

.actionLink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

table.reportTable {
  border: 1px solid #1C6EA4;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.reportTable td, table.reportTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.reportTable tbody td {
  font-size: 1em;
}
table.reportTable tr:nth-child(even) {
  background: #FDFDFF;
}
table.reportTable thead {
  background: #1C6EA4;
}
table.reportTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}
table.reportTable tfoot td {
  font-size: 14px;
}
table.reportTable tfoot .links {
  text-align: right;
}
table.reportTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.gridLegend {
    font-size: 0.8em;
    font-style: italic;
    margin-top: 4px;
    width: 100%;
    text-align: right;
}

button:disabled {
    opacity: 0.5;
}

div.searchPanel {
    vertical-align: bottom;
    padding-bottom: 4px;
    background-color: #ffffff;
}

.searchPanel > input {
    margin-right: 0;
    border-collapse: collapse;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    vertical-align: bottom;
}

.searchPanel > button {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    vertical-align: bottom;
    margin-left: -4px;
}

.searchPanelFull {
    display: inline-flex;
    width: 100%;
}

.searchPanelFull > input {
    flex-grow: 1;
    max-width: unset;
}

.faButton {
    cursor: pointer;
    opacity:0.6;
}

.faButton:hover {
    opacity:1;
}

.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    /*border: 1px solid #888;*/
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 450px;
    max-width: 600px;
    border-radius: 4px;
}

.pickItemDialogItems > *[lt-selected = "1"] {
    background-color: #00bfff;
}

.pickItemDialogItems > *[lt-selected = "1"] > .showIfSelected {
    display: block;
}

.pickItemDialogItems > *:not([lt-selected = "1"]) > .hideIfNotSelected {
    display: none;
}

.dialogCloseButton {
    font-size: 1.3em;
    margin-left: auto;
}

.pickItemDialogItems {
    height: 300px;
    overflow: auto;
    border: 1px solid #eeeeee;
    border-radius:4px;
    margin-top:6px;
    margin-bottom:12px;
    padding-left:6px;
    padding-right:6px;
    display:block;
}

.pickItemDialogItems > div {
  display: flex;  
}

.pickItemDialogItems > div > .far{
  vertical-align:baseline;
  margin-right:8px;
  font-size:1.2em;
}


.modalFooter {
  display:inline-flex;
  flex-direction:column;
  align-items:flex-end;
  width:100%;
}

.tabPanelHeadersContainer{
    display:flex;
    width:100%;    
    padding-top:10px;
    border-bottom:#00bfff 10px solid;  
    flex-direction:row;  
    align-items:flex-end;
}

.tabControlTabHead {
    font-size:1.2em;
    font-weight:bold;
    padding:10px;
    padding-left:15px;
    padding-right:15px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    margin-right:4px;
    margin-left:4px;    
    min-width:140px;
    align-self:flex-end;
}

.tabControlTabHead[active-tab="1"]{
    background-color:#00bfff;
}

.tabControlTabHead:not([active-tab="1"]){
    background-color:#008ccc;
    padding:7px;
    padding-left:15px;
    padding-right:15px;
    cursor:pointer;    
}

.hidden {
    display: none !important;
}

.strike {
    text-decoration: line-through;
}

.lt-template {
    display: none;
}

#busyOverlay {
  position:absolute;
  left:0;
  top:0;
  right:0;
  background-color:black;
  cursor: wait;
}

.shownOverlay {
    transition: opacity 500ms ease-out 600ms;
    visibility: visible;
    opacity: 0.2; 
}

.hiddenOverlay {
    display: none;
    transition: opacity 20ms ease-in 0;
    visibility: hidden;
    opacity: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.disabled * {
    pointer-events: none;
    opacity: 0.4;
}

.formRow {
  margin-bottom:12px;
}

.formCard {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 600px;
    min-width: 400px;
    width: 50%;
}

.formRow label {
    display: block;
    text-align: left;
}

.form {
    border:1px solid #eee;
    padding:10px;
    margin-bottom:10px;
    border-radius:2px;
    
}

.form:hover {
  -webkit-box-shadow: 9px 7px 19px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 19px -6px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 19px -6px rgba(0,0,0,0.75);
}

.form .autocomplete {
    width: 100%;
}

.butCancel {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    width:50px;
    margin-left:5px;
}

.butCancel:before{
  content: "\f00d";
}

.butSubmit {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    width:50px;
    margin-left:5px;
}

.butSubmit:before{
  content: "\f00c";
}

.formActions {
  border-top:1px solid #eee;
  padding-top:5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.formActions > .faButton {
  margin-right:auto;
}

input.readonly {
    pointer-events:none;
    background-color: transparent !important;
}


/* GRIDS */
.gridRow {
    display:flex;
    margin-left:4px;
}


.gridHead > div {
    font-weight:bold;
    background-color:#fafaff;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:6px;    
}

.gridRow > div {
    font-size:0.97em;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:4px;
    border-left:1px solid #eee;
    border-top:1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.gridRow:hover > div{
  background-color:#FFfafa;
}

.gridRow > div:hover {
  background-color:white;  
  text-overflow:unset;
  display:inline-block;
  width:auto;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.58); 
   box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.58);
  z-index:9999;  
  transition:0.3s all;
  transition-delay:0.3s;
}

.gridRow > div:last-child {
    border-right:1px solid #eee;
}

.cell1 {
    min-width:20px;    
    width: 20px;
}

.cell5 {
    min-width:100px;
    width:100px;
}

.cell10{
    min-width:200px;
    width:200px;
}

.cell20 {
    min-width: 400px;
    width: 400px;
}

.cell30 {
    min-width: 500px;
    width: 500px;
}

.cell40 {
    min-width: 600px;
    width: 600px;
}

.cell1:hover {
  width:20px;
  -webkit-box-shadow: none !important;
   box-shadow:none !important;
   background-color:transparent !important;
}

.gridHead:hover > div {
    font-weight:bold;
    background-color:#fafaff !important;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:6px;    
    -webkit-box-shadow: none !important;
   box-shadow:none !important;   
}

.centerChildHori > * {
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.highlightCell {
    background-color: chartreuse;
}

.lowMaterialLevelExcl{
    margin-right:5px;
    color:rgb(204,169,44);    
   box-shadow: 0 0 0 rgba(204,169,44, 0.4);
   animation: pulse 1s infinite;
   border-radius:50px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


.actionTile {
  background-color:#18ECF7;
  padding:5px;
  padding-left:10px;
  margin-top:7px;
  border-radius:3px;    
  
}

.actionTile a {
  color:#040404;
}

.actionTile:hover {
  -webkit-box-shadow: 5px 5px 8px -2px #000; 
  box-shadow: 5px 5px 8px -2px #000;
  background-color:#0BDDE8;
}

.menu {
    min-width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    background-color: white;
    z-index: 9999;
    border-radius:8px;
    border-top-left-radius:0;
}

.menu .menu-options {    
    padding: 10px 0;
}

.menu li {
  list-style: none;
}

.menu-option {
    font-weight: 500;
    font-size:0.9em;
    padding: 5px 40px 5px 20px;
    cursor: pointer;
}
.menu-option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menuItemIcon {  
  margin-right:5px;
  color:#88C;
}

.actionTileIcon {
  min-width:22px;
  color:#88C;
}

.hoverDetail {
    display: none;
}

.hasHoverDetail:hover .hoverDetail {
    display: block;
}

.syswarnhigh {
    background-color: red;
    color: white;
    font-size: 2em;
    padding: 10px;
}


.wikilink {
    width: 100%;
    height: 0;
    position: relative;
}

.wikilink > a {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-decoration: none;
    border: 5px solid transparent;
    font-size: 14px;
    color: #0a0;
    transition: all .2s ease-in-out;
    position: absolute;
    top: -16px;
    right: -16px;       
    text-shadow: 1px 1px 2px black, 0 0 1em green, 0 0 0.2em green;
}

.wikilink > a:before {
    content: "\f059";
}

.wikilink > a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.panelHead > .wikilink > a {
    right: -5px;
    top: -20px;
}

.wikilink.inset {
    right: 6px !important;
}

.wikilink.topright > a {
    right: -0px !important;
}