<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="robotLogin" value="robot.biorythme"/>
    <add key="robotPassword" value="botbot"/>
  </appSettings>
  <connectionStrings>
    <add name="ElsaDb" connectionString="Data Source=MTEC-PRG-L\SQL2014;Initial Catalog=Elsa;Integrated Security=True"/>
  </connectionStrings>
</configuration>